body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media (min-width:992px) {    
  .vertical-nav {
      position: fixed;
      text-align: center;
      top: 56px;
      left: 0;
      width: 15rem;
      height: 100%;
      background-color: #28a745;
      overflow-y: auto;
      padding-top: 30px
    }
}
